# {{ item[1].name }} Apache configuration

<VirtualHost *:80>
    ServerName {{ item[1].domain }}
    ProxyRequests off
    Keepalive On
    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>
    <Location />
        ProxyPass http://localhost:{{ item[1].port }}/
        ProxyPassReverse http://localhost:{{ item[1].port }}/
    </Location>
    <Directory "{{ item[1].docroot }}">
      Options Indexes FollowSymLinks MultiViews
      Order allow,deny
      Allow from all
      AllowOverride All
      Require all granted
    </Directory>
</VirtualHost>